/* ===== Desktop >= 992px ===== */
@media (min-width: 992px) {
  .small-header {
    display: none;
  }
}

@media (width: 1024px) {
  .client-list-first, .client-list-second {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

/* ===== Tablet & Mobile < 992px ===== */
@media (max-width: 991.98px) {
  /* Header */
  .header {
    display: none;
  }

  .small-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(251, 250, 255, 0.95);
    backdrop-filter: blur(20px);
  }

  .small-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 15px;
    border-bottom: 1px solid #d6d3e2;
  }

  .small-header__feature {
    display: flex;
    align-items: center;
  }

  .small-header-feature__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(93, 59, 238, 0.2);
    cursor: pointer;
  }

  .small-header-feature__wrapper:first-child {
    margin-right: 10px;
  }

  .small-header-feature__wrapper img {
    object-fit: contain;
    max-width: 20px;
  }

  .small-header__logo {
    width: 45px;
    object-fit: cover;
  }

  .drawer-wrapper {
    position: fixed;
    width: 0%;
    height: 100vh;
    background-color: #fff;
    top: 0;
    right: 0;
    z-index: 12;
    transition: width 0.5s ease;
    overflow: hidden;
  }

  .drawer-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
  }

  input#smallHeader:checked ~ .drawer .drawer-wrapper {
    width: 40%;
  }

  input#smallHeader:checked ~ .drawer .small-header-nav {
    opacity: 1;
    visibility: visible;
  }

  input#smallHeader:checked ~ .drawer .drawer-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  .small-header-nav {
    padding: 50px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    font-size: 0;
    transition: 0.5s ease opacity, 0.5s ease visibility;
  }

  .small-nav-item {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    transition: 0.2s ease font-size;
    padding: 15px 0;
  }

  .small-nav-item:first-of-type {
    padding-top: 0px;
  }

  /* Hero */

  .hero {
    height: auto;
    padding-top: 75px;
  }

  .hero .row div:last-of-type {
    order: 1;
  }

  .hero .row div:first-of-type {
    order: 2;
  }

  .hero-content {
    margin-left: 0px;
  }

  .hero-content__title {
    max-width: 70%;
    line-height: 1.2;
  }

  .hero-content__desc {
    line-height: 1.6;
  }

  .hero-content__follow {
    margin-top: 45px;
  }

  .hero-media {
    display: flex;
    justify-content: center;
  }

  .hero-media__img {
    width: 390px;
  }

  .hero-icon-2 {
    display: none;
  }

  .hero-icon-1 {
    width: 550px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: -150px;
  }

  /* Client */
  .client-title {
    position: relative;
    font-size: 3.8rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .client-title::before {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 86px;
    height: 2px;
    background-color: #5d3bee;
    margin-top: 22px;
  }

  .client-list-second,
  .client-list-first {
    margin-left: 0px;
    column-gap: 34px;
  }

  .client-list-second {
    margin-top: 34px;
  }

  .client .row > * {
    display: flex;
    justify-content: center;
  }
}

/* ===== Mobile <= 767.98px ===== */
@media (max-width: 767.98px) {
  /* mobile override tablet ở đây */
  .small-header__logo {
    width: 37px;
  }

  .small-header-feature__wrapper {
    width: 32px;
    height: 32px;
  }

  input#smallHeader:checked ~ .drawer .drawer-wrapper {
    width: 70%;
  }

  /* Hero */
  .hero {
    padding-top: 50.5px;
  }
}
