/* ===== Desktop >= 992px ===== */
@media (min-width: 992px) {
  .small-header {
    display: none;
  }

  .specializes-small {
    display: none;
  }

  .atmosphere-list-small {
    display: none;
  }

  .footer-bottom-small {
    display: none;
  }
}

@media (width: 1024px) {
  .client-list-first,
  .client-list-second {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

/* ===== Tablet & Mobile < 992px ===== */
@media (max-width: 991.98px) {
  /* Header */
  .header {
    display: none;
  }

  .small-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(251, 250, 255, 0.95);
    backdrop-filter: blur(20px);
  }

  .small-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 15px;
    border-bottom: 1px solid #d6d3e2;
  }

  .small-header__feature {
    display: flex;
    align-items: center;
  }

  .small-header-feature__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(93, 59, 238, 0.2);
    cursor: pointer;
  }

  .small-header-feature__wrapper:first-child {
    margin-right: 10px;
  }

  .small-header-feature__wrapper img {
    object-fit: contain;
    max-width: 20px;
  }

  .small-header__logo {
    width: 45px;
    object-fit: cover;
  }

  .drawer-wrapper {
    position: fixed;
    width: 0%;
    height: 100vh;
    background-color: #fff;
    top: 0;
    right: 0;
    z-index: 12;
    transition: width 0.5s ease;
    overflow: hidden;
  }

  .drawer-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
  }

  input#smallHeader:checked ~ .drawer .drawer-wrapper {
    width: 40%;
  }

  input#smallHeader:checked ~ .drawer .small-header-nav {
    opacity: 1;
    visibility: visible;
  }

  input#smallHeader:checked ~ .drawer .drawer-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  .small-header-nav {
    padding: 50px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    font-size: 0;
    transition: 0.5s ease opacity, 0.5s ease visibility;
  }

  .small-nav-item {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    transition: 0.2s ease font-size;
    padding: 15px 0;
  }

  .small-nav-item:first-of-type {
    padding-top: 0px;
  }

  /* Hero */

  .hero {
    height: auto;
    padding-top: 75px;
  }

  .hero .row div:last-of-type {
    order: 1;
  }

  .hero .row div:first-of-type {
    order: 2;
  }

  .hero-content {
    margin-left: 0px;
  }

  .hero-content__title {
    max-width: 70%;
    line-height: 1.2;
  }

  .hero-content__desc {
    line-height: 1.6;
  }

  .hero-content__follow {
    margin-top: 45px;
  }

  .hero-media {
    display: flex;
    justify-content: center;
  }

  .hero-media__img {
    width: 390px;
  }

  .hero-icon-2 {
    display: none;
  }

  .hero-icon-1 {
    width: 550px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: -150px;
  }

  /* Client */
  .client-title {
    position: relative;
    font-size: 3.8rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .client-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 76px;
    height: 2px;
    margin-top: 0px;
  }

  .client-list-second,
  .client-list-first {
    margin-left: 0px;
    column-gap: 34px;
  }

  .client-list-second {
    margin-top: 34px;
  }

  .client .row > * {
    display: flex;
    justify-content: center;
  }

  /* Specializes */
  .specializes-list {
    display: none;
  }

  .spec-item {
    display: flex;
    justify-content: center;
  }

  .spec-navigation {
    margin-top: 20px;
  }

  /* project */
  .project-title {
    text-align: center;
  }

  .project-desc {
    --width: auto;
    padding-top: 31px;
    margin-left: 0px;
    text-align: center;
  }

  .project-list .row {
    row-gap: 30px;
  }

  /* FAQ */
  .faq-title {
    --width: 100%;
  }

  /* Atmosphere */
  .atmosphere-list {
    display: none;
  }

  .atmosphere-small-item {
    display: flex;
    justify-content: center;
  }

  .atmosphere-navigation {
    margin-top: 30px;
  }

  /* footer */

  .footer .logo {
    order: 1;
    position: static;
    left: 0;
    transform: translateX(0);
  }

  .footer .header-nav {
    order: 2;
  }

  .footer .header-email {
    order: 3;
    margin-top: 65px;
  }

  .footer > .header-inner {
    flex-direction: column;
    align-items: center;
    height: auto;
    border-bottom: none;
  }

  .footer-bottom {
    display: none;
  }

  .footer-bottom-small {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divider {
    height: 1px;
    background-color: rgb(12, 7, 32, 0.2);
    width: 100%;
    order: 2;
    margin: 29px 0 20px;
  }

  .footer-bottom-small .footer-bottom-right {
    order: 1;
  }

  .footer-bottom-small .copyright {
    order: 3;
  }
}

/* ===== Mobile <= 767.98px ===== */
@media (max-width: 767.98px) {
  /* Header */
  .small-header__logo {
    width: 37px;
  }

  .small-header-feature__wrapper {
    width: 32px;
    height: 32px;
  }

  input#smallHeader:checked ~ .drawer .drawer-wrapper {
    width: 70%;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Hero */
  .hero {
    padding-top: 50.5px;
  }

  .hero-content__title {
    width: 100%;
    font-size: 4.2rem;
    letter-spacing: -0.168rem;
  }

  .hero-content__desc {
    line-height: 1.6;
    font-size: 1.6rem;
    max-width: 318px;
  }

  .hero-content__cta .btn {
    --width: 147px;
    --height: 55px;
    font-size: 1.6rem;
    line-height: 1.87;
  }

  .hero-content-cta__work {
    font-size: 1.6rem;
    line-height: 1.87;
  }

  .hero-content-follow__text {
    font-size: 1.4rem;
  }

  .hero-content-follow__icon {
    width: 31px;
    height: 31px;
  }

  .hero-media__img {
    width: 259px;
  }

  .hero-icon-1 {
    width: 380px;
    bottom: -130px;
  }

  /* Client */
  .client-title {
    font-size: 2.8rem;
  }

  .client-title::before {
    position: absolute;
    top: -5px;
    width: 48px;
  }

  .client-list-first,
  .client-list-second {
    column-gap: 0px;
  }

  /* specializes */
  .specializes-content .section-title {
    --width: 100%;
    font-size: 3.6rem;
    letter-spacing: -0.144rem;
  }

  .specializes-desc {
    --width: 100%;
    margin-bottom: 60px;
    font-size: 1.6rem;
    margin-bottom: 50px;
  }

  /* project */
  .project-title {
    font-size: 3.6rem;
    --width: 100%;
  }

  .project-desc {
    --width: auto;
    padding-top: 20px;
    font-size: 1.6rem;
  }

  .project-item {
    padding: 20px;
  }

  .project-item-img {
    width: 122px;
    height: 93px;
  }

  .project-item-img img {
    max-width: 100%;
  }

  .project-item-wrapper {
    column-gap: 22px;
  }

  .project-item-content .section-content-title {
    font-size: 2.4rem;
  }

  .project-item-content .project-item-content__desc {
    font-size: 1.4rem;
  }

  .project-item-content__cta {
    font-size: 1.6rem;
    text-underline-offset: 3px;
  }

  .project-item__bg {
    width: 300px;
    position: absolute;
    top: 0px;
    right: -134px;
    transition: 0.5s ease transform;
  }

  .project-all-btn {
    width: 154px;
    height: 56px;
    font-size: 1.6rem;
  }
}
